<!DOCTYPE html>
<html ng-app="ModuleTwo">
  <head>
    <meta charset="utf-8">
    <script src="../../angular.min.js"></script>
    <script src="app.js"></script>
    <title>Module 2</title>
  </head>
  <body>

    <div ng-controller="ModuleTwoController">
    Original: {{sayMessage()}} <br/>
    Loves: {{sayLovesMessage()}} <br/>
    Truth: {{sayLovesMessage() | truth : 'Peter' : 'Peter really'}} <br/>
    Big Truth: {{sayLovesMessage() | truth : 'Peter' : 'Peter really' | uppercase}} <br/>
    <br/>
    <hr>

    <div>
    <button ng-click="showNumberOfWatchers()">Log # of Watchers</button><br/>
    <input type="text" ng-model="name">
    </div>

    <div>
      <button ng-click="countOnce()">Up Once Counter (once)</button><br/>
      <button ng-click="upCounter()">Increment Counter</button>
    </div>

    <div>
      Once counter: {{onceCounter}} <br/>
      Regular counter: {{counter}} <br/>

    </div>

    <hr>
    <h3>Binding - 1 way, 2 way, 1 time</h3>
    <div>
      <button ng-click="showNumberOfWatchers()">Log # of Watchers</button><br/>
      <button ng-click="setFullName()">Set Full Name</button><br/>

      Full name is: {{:: fullName}} <br/>
      <button ng-click="logFirstName()">Log First Name</button><br/>
      <button ng-click="logFullName()">Log Full Name</button><br/>
      <br/>
      <input type="text" ng-model="firstName">
    </div>

    <hr>

    <h3>Shopping List:</h3>
    <input type="text" ng-model="search" placeholder="search shopping list">
    <ul>
      <li ng-repeat="item in shoppingList1 | filter : search">{{item}}</li>
    </ul>

    <!-- <ul>
      <li ng-repeat="item in shoppingList2">Buy
        {{item.quantity}} of {{item.name}}</li>
    </ul> -->

    <!-- <input type="text" ng-model="shoppingList2[0].quantity">
    <ul>
      <li ng-repeat="item in shoppingList2">{{$index + 1}}. Buy
        {{item.quantity}} of {{item.name}}"</li>
    </ul>
    <input type="text" ng-model="newItemName" placeholder="item name">
    <input type="text" ng-model="newItemQuantity" placeholder="item quantity">
    <button ng-click="addToList()">Add to List</button> -->

    <hr>
  </div>

  <p>placeholder where original shopping list example of service method was.</p>
  <!-- <div ng-controller="ShoppingListAddController as itemAdder">
    <input type="text" ng-model="itemAdder.itemName" placeholder="item name">
    <input type="text" ng-model="itemAdder.itemQuantity" placeholder="quantity">
    <button ng-click="itemAdder.addItem();">Add item to shopping list</button>
  </div>

  <div ng-controller="ShoppingListShowController as showList">
    <ol>
      <li ng-repeat="item in showList.items">
        {{item.quantity}} of {{item.name}}
        <button ng-click="showList.removeItem($index)">Remove item</button>
      </li>
    </ol>
  </div> -->

  <hr>

  <div id="list1" ng-controller="ShoppingListController1 as list1" style="width:40%; float:left;">
    <h3>Shopping List 1</h3>
    <input type="text" ng-model="list1.itemName" placeholder="item name">
    <input type="text" ng-model="list1.itemQuantity" placeholder="quantity">
    <button ng-click="list1.addItem();">Add item</button>
    <ol>
      <li ng-repeat="item in list1.items">
        {{item.quantity}} of {{item.name}}
        <button ng-click="list1.removeItem($index)">Remove item</button>
      </li>
    </ol>
    <span style="color:red" ng-hide="!list1.errorMessage">
      Error: {{list1.errorMessage}}
    </span>
  </div>

  <!-- <div id="list2" ng-controller="ShoppingListController2 as list2" style="width:40%; float:left;">
    <h3>Shopping List 2 (limited to 3 items)</h3>
    <input type="text" ng-model="list2.itemName" placeholder="item name">
    <input type="text" ng-model="list2.itemQuantity" placeholder="quantity">
    <button ng-click="list2.addItem();">Add item</button>
    <ol>
      <li ng-repeat="item in list2.items">
        {{item.quantity}} of {{item.name}}
        <button ng-click="list2.removeItem($index)">Remove item</button>
      </li>
    </ol>
    <span style="color:red">Error: {{list2.errorMessage}}</span>
  </div> -->

  <!-- <div ng-controller="ParentController1">
    <div ng-controller="ChildController1">
    </div>
  </div> -->

  <!-- <div ng-controller="ParentController2 as parent">
    Parent value: {{parent.value}}

    <div ng-controller="ChildController2 as child">
      Child value: {{child.value}}
      Parent value: {{parent.value}}
    </div>
  </div> -->

  <hr style="clear:left;">



  </body>
</html>
