<!DOCTYPE html>
<html ng-app="MenuSearchApp">
  <head>
    <meta charset="utf-8">
    <script src="../../angular.min.js"></script>
    <script src="app.js"></script>
    <title>Search Menu Items</title>
  </head>
  <body>
    <h1>Search Menu Items</h1>

    <div ng-controller="MenuSearchController as search">
      <input type="text" ng-model="searchItem" placeholder="Enter search term"><br/>
      <br/>
      <button ng-click="search.searchMenuItems();">Narrow it down for me</button>
      <h3>Results (menu item, short_name, description):</h3>
      <ul>
        <!-- <span ng-if="found.length == 0">{{noresult}}</span> -->
        <li  ng-repeat="searchresult in search.items">
          <button ng-click="removeItem($index)">Don't want this one</button>
          <!-- {{searchresult.name}} | {{searchresult.short_name}} | {{searchresult.description}} -->
          {{searchresult}}
        </li>
      </ul>
    </div>

  </body>
</html>
